hr {
  height: 1px;
  background-color: #E5E5E5;
}

html {
  background-color: #ffffff;
  color: #333;
}

body {
  font-family: 'Lyon Text Web', serif;
  -webkit-font-smoothing: antialiased;
}

h3 {
  margin-bottom: 1rem;
  @apply text-xl leading-normal font-sans;
}


/*
 *	WebFont Package Licensed to antonsten.com
 */

 @font-face {
   font-family: 'Lyon Text Web';
   src: url('/fonts/LyonText-Regular-Web.woff2') format('woff2'),
        url('/fonts/LyonText-Regular-Web.woff') format('woff');
   font-weight:  400;
   font-style:   normal;
   font-stretch: normal;
 }

 @font-face {
   font-family: 'Lyon Text Web';
   src: url('/fonts/LyonText-RegularItalic-Web.woff2') format('woff2'),
        url('/fonts/LyonText-RegularItalic-Web.woff') format('woff');
   font-weight:  400;
   font-style:   italic;
   font-stretch: italic;
 }

 @font-face {
	font-family: "Prachar Regular";
  src: url('/fonts/3AC740_0_0.woff2') format('woff2'),
       url('/fonts/3AC740_0_0.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

  @font-face {
    font-family: 'SF';
    src: url('/fonts/sf-bold.woff2') format('woff2'),
        url('/fonts/sf-bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'SF';
    src: url('/fonts/sf-regular.woff2') format('woff2'),
        url('/fonts/sf-regular.woff2') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
