html {
  background-color: #ffffff;
  color: #333;
}

body {
  font-family: 'FreightDispProBook-Regular', serif;
}

/*
 *	WebFont Package Licensed to antonsten.com
 */

@font-face {
  font-family: 'FreightDispProBook-Regular';
  src: url('/fonts/395F2A_0_0.eot');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/395F2A_0_0.eot?#iefix') format('embedded-opentype'),
    url('/fonts/395F2A_0_0.woff2') format('woff2'),
    url('/fonts/395F2A_0_0.woff') format('woff'),
    url('/fonts/395F2A_0_0.ttf') format('truetype');}

@font-face {
  font-family: 'FreightDispProBook-Regular';
  font-style: italic;
  font-display: swap;
  src: url('/fonts/395F2A_1_0.eot');
  src: url('/fonts/395F2A_1_0.eot?#iefix') format('embedded-opentype'),
  url('/fonts/395F2A_1_0.woff2') format('woff2'),
  url('/fonts/395F2A_1_0.woff') format('woff'),
  url('/fonts/395F2A_1_0.ttf') format('truetype');}

  @font-face {
    font-family: 'FreightDispProBook-Regular';
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/39F210_0_0.eot');
    src: url('/fonts/39F210_0_0.eot?#iefix') format('embedded-opentype'),
    url('/fonts/39F210_0_0.woff2') format('woff2'),
    url('/fonts/39F210_0_0.woff') format('woff'),
    url('/fonts/39F210_0_0.ttf') format('truetype');}

    /* RM Pro Bold */
    @font-face {
    	font-family: RM Pro;
    	src:	url('/fonts/hinted-RMPro-Bold.eot'); /* IE9 Compat Modes */
    	src:	url('/fonts/hinted-RMPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    			url('/fonts/RM Pro Bold.woff2') format('woff2'), /* Super Modern Browsers */
    			url('/fonts/hinted-RMPro-Bold.woff') format('woff'); /* Pretty Modern Browsers */
    	font-weight: 700;
    	font-style: normal;
    	font-display: swap;
    }

    /* RM Pro Regular */
    @font-face {
    	font-family: RM Pro;
    	src:	url('/fonts/hinted-RMPro-Regular.eot'); /* IE9 Compat Modes */
    	src:	url('/fonts/hinted-RMPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    			url('/fonts/RM Pro Regular.woff2') format('woff2'), /* Super Modern Browsers */
    			url('/fonts/hinted-RMPro-Regular.woff') format('woff'); /* Pretty Modern Browsers */
    	font-weight: 400;
    	font-style: normal;
    	font-display: swap;
    }

    /* RM Pro Light */
    @font-face {
    	font-family: RM Pro;
    	src:	url('/fonts/hinted-RMPro-Light.eot'); /* IE9 Compat Modes */
    	src:	url('/fonts/hinted-RMPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    			url('/fonts/RM Pro Light.woff2') format('woff2'), /* Super Modern Browsers */
    			url('/fonts/hinted-RMPro-Light.woff') format('woff'); /* Pretty Modern Browsers */
    	font-weight: 300;
    	font-style: normal;
    	font-display: swap;
    }

    /* RM Pro Regular Italic */
    @font-face {
    	font-family: RM Pro;
    	src:	url('/fonts/hinted-RMPro-RegularItalic.eot'); /* IE9 Compat Modes */
    	src:	url('/fonts/hinted-RMPro-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    			url('/fonts/RM Pro Regular Italic.woff2') format('woff2'), /* Super Modern Browsers */
    			url('/fonts/hinted-RMPro-RegularItalic.woff') format('woff'); /* Pretty Modern Browsers */
    	font-weight: 400;
    	font-style: italic;
    	font-display: swap;
    }
