@tailwind preflight;
@tailwind components;
@tailwind utilities;

@media (min-width: 720px) {
  .case-image {
    max-height: 70px;
    max-width: 240px;
    width: auto;
  }
}

.highlight {
  background: rgba(254, 105, 99, .15);
  display: inline;
} 


/* header */ 
header {
}

header > div {
  border-bottom: 1px dotted #abb6bb;
}

header ul {
  margin-bottom: 0;
}

header li {
  font-size: 15px;
}

[aria-current] {
  color: #fe6963;
}

/* footer */

footer {
  border-top: 1px dotted #abb6bb;
}

footer li {
  font-size: 15px;
}

/* content */ 

ul, p, blockquote {
  margin-bottom: 1rem;

  @apply text-sm leading-normal font-normal;
}

@screen sm {
  ul, p, blockquote {
    @apply text-lg leading-normal;
  }
}

.max-w-xl {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  @apply text-xl mb-4 mt-3;
}

@screen sm {
  h1 {
    @apply text-5xl mb-6 mt-8;
  }
}


h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;

  @apply text-xl leading-normal font-normal;
}

@screen sm {
  h2 {
    @apply text-2xl;
  }
}

h3 {
  @apply font-normal;
}

del {
  text-decoration: none;
  letter-spacing: -.013em;
  color: #4a4a4a;
  margin-bottom: 3.5rem;
  float: left;
  width: 100%;
  font-style: normal;

  @apply text-lg leading-normal;
}

@screen sm {
  del {
    @apply text-2xl leading-normal;;
  }
}
