@tailwind preflight;
@tailwind components;
@tailwind utilities;

@media (min-width: 820px) {
  .case-image {
    max-height: 50px;
    max-width: 180px;
    width: auto;
  }
}

.highlight {
  background: rgba(156, 0, 97, .15);
  display: inline;
}

/* header */

header {
  background: #ffffff;
  z-index: 99999;
}

header a, header a:hover {
  font-weight: 700;
  border: none;

  @apply font-sans text-base;
}

[aria-current] {
  text-decoration: line-through;
  color: #0070C9;
}

header ul {
  margin-top: 0;
  margin-bottom: 0;
}



/* footer */

footer {
  border-top: 2px solid #F2F2F2;
}

footer a {
  @apply font-sans text-sm;
  border: none;
}

footer a:hover {
  border: none;
  text-decoration: line-through;
}

footer li, .date {
  font-size: 15px;
}

/* content */

blockquote {
  margin-top: 2.5rem;
}

.Work blockquote {
  margin-top: 0;
}

blockquote strong {
  @apply font-sans text-sm;

}



ul, ol, p {
  margin-bottom: 1rem;
  margin-top: 1rem;
  @apply text-xl leading-loose font-normal;
}

blockquote, blockquote p {
  @apply text-xl leading-tight;

}

@screen sm {
  ul, ol, p {
    @apply text-lg leading-normal;
  }

  blockquote, blockquote p {
    @apply text-base leading-normal font-sans text-lg;
  }
}

.max-w-xl {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  @apply mb-4 mt-3 text-5xl;
}

@screen sm {
  h1 {
    @apply text-5xl mb-6 mt-8 font-sans;
  }
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;

  @apply text-3xl leading-normal font-bold font-sans;
}

@screen sm {
  h2 {
    @apply text-2xl;
  }
}

h3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  @apply text-xl leading-normal font-sans;
}

del {
  text-decoration: none;
  color: #4a4a4a;
  margin-bottom: 3.5rem;
  float: left;
  width: 100%;
  font-style: normal;

  @apply text-4xl leading-normal;
}

@screen sm {
  del {
    @apply text-4xl font-serif leading-normal;
  }
}


/* testimonial */

.tesimonial-logo {
  max-width: 120px;
  max-height: 40px;
  height: auto !important;
}

/* components */

.btn {
  @apply bg-link uppercase font-bold text-white text-xs px-8 py-4 font-sans cursor-pointer inline-block;
  border-radius: 4px;
  letter-spacing: 1px;
}

.btn:hover {
  @apply text-white;
  background-color: #0062B0;
  border-bottom: 1px solid #0070C9;
}

em {
  background-color: #E6F1FA;
  letter-spacing: 1px;
}

a {
  @apply text-link;
  text-decoration: none;
  border-bottom: 1px solid #0070C9;
}

a:hover {
  color: #0070C9;
  border-bottom: 2px solid #0070C9;
}

blockquote {
  @apply p-6 rounded-none mb-8;
  border-left: 2px solid #E0E0E0;
}

blockquote strong {
  @apply block border-none mt-4 text-xs font-bold uppercase tracking-wide -mb-4;
}

blockquote a:hover {
  @apply border-none;
}


blockquote div div a {
  display: inline-block;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 0;

  @apply text-xl;
}

@screen sm {
  blockquote div div a {
    @apply text-xl;
  }
}




form input {
  -webkit-appearance: none;
  height: 46px;
}

/* helpers */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 550px;

  /* reset a border */
  border: none;
}

.truncate:hover {
  /* reset a border */
  border: none;
}

.client a {
  /* reset a border */
  border: none;
}

.client a:hover {
  /* reset a border */
  border: none;
}

.gatsby-image-wrapper {
  width: 100%;
  margin-left: 0;
}

@screen sm {
  .gatsby-image-wrapper {
    width: 110%;
    margin-left: -5%;
  }
}

hr {
  height: 1px;
  background-color: #E5E5E5;
}

.mobile-menu {
  position: fixed;

  background: #fcfbf8;
  bottom: 0;
  left: 0;
  right: 0;
  top: 76px;
  z-index: 9999;
}

.mobile-menu__ul {
  display: flex !important;
  float: none !important;
}

.blog-post img {
  margin: 2rem 0;
}

.blog-post ul li {
  margin-bottom: 1rem;
}

.btn-light {
  background: #FCFBF8;
  width: 220px;
  max-width: 100%;

  @apply py-3 px-3 flex justify-between;
}

.Work .testimonial {
  @apply px-2;
}

@screen sm {
  .Work .testimonial {
    @apply px-4;
  }
}

.hover-border-none:hover {
  border: none !important;
}