@tailwind preflight;
@tailwind components;
@tailwind utilities;

@media (min-width: 820px) {
  .case-image {
    max-height: 50px;
    max-width: 180px;
    width: auto;
  }
}

.highlight {
  background: rgba(156, 0, 97, .15);
  display: inline;
}

/* header */

header {
  background: #ffffff;
  z-index: 99999;
}

header a, header a:hover {
  font-weight: 700;
  border: none;
  text-transform: uppercase;

  @apply font-sans text-xs;
}

[aria-current] {
  text-decoration: underline;
  color: #FFEA34;
}

header ul {
  margin-top: 0;
  margin-bottom: 0;
}



/* footer */

footer {
  border-top: 2px solid #F2F2F2;
}

footer a {
  @apply font-sans text-sm;
  border: none;
}

footer a:hover {
  border: none;
}

footer li, .date {
  font-size: 15px;
}


/* content */

blockquote {
  margin-top: 2.5rem;
  @apply block w-full mt-16 mb-16;
}

.note-post blockquote {
  padding: 0;
}

.twitter-tweet {
    margin:auto;
}

.Work blockquote {
  margin-top: 0;
}

blockquote strong {
  @apply font-sans font-normal text-sm;

}



ul, ol, p, .people-like-you {
  margin-bottom: 2rem;
  margin-top: 2rem;
  @apply text-lg leading-normal font-normal;
}

blockquote, blockquote p {
  @apply text-lg font-serif leading-loose;
}

@screen sm {
  ul, ol, p {
    @apply text-lg leading-normal font-normal;
  }
}

.max-w-xl {
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  @apply mb-4 mt-3 text-3xl font-hand tracking-tight;
}

@screen sm {
  h1 {
    @apply text-5xl mb-8 mt-8;

  }
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;

  @apply text-3xl leading-normal font-sans;
}

h3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: 600;

  @apply text-xl leading-normal font-sans;
}


@screen sm {
  h2 {
    @apply text-3xl;
  }
}


del {
  text-decoration: none;
  margin-bottom: 3.5rem;
  float: left;
  width: 100%;
  font-style: normal;

  @apply text-xl leading-normal;
}

@screen sm {
  del {
    @apply text-2xl font-serif leading-normal;
  }
}


/* testimonial */

.tesimonial-logo {
  max-width: 120px;
  max-height: 40px;
  height: auto !important;
}

.testimonial blockquote {
  background: none;
  padding: 0;
}

/* components */

.btn {
  @apply bg-yellow uppercase text-black text-xs px-8 py-4 font-sans cursor-pointer inline-block;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
}

.btn:hover {

}

hr {
  height: 2px;
  background-color: #F7F7F7;
}

a:not(.no-underline):not(.btn), [aria-current]:not(.logo) {
  box-shadow: inset 0 -6px 0 #FFEA34;
  color: inherit;
  text-decoration: none;
  position: relative;
}

a:not(.btn):hover {
  box-shadow: inset 0 -12px 0 #FFEA34;
  color: inherit;
  text-decoration: none;
}

main a:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  transition: all .2s;
}

a.no-after:after {
  background-color: transparent;
}

a:hover:after {
  bottom: -2px;
  background-color: #FFEA34;
}

a:visited {
@apply text-black;
}

blockquote {
  @apply mb-8 text-lg bg-grey-lightest p-8 relative;
}

blockquote:before {
  position: absolute;
  content: '';
  left: 0;
  background: gray;
  top: 0;
  bottom: 0;
}

blockquote strong {
  @apply block border-none mt-4 text-xs font-bold uppercase tracking-wide -mb-4;
}

blockquote a:hover {
  @apply border-none;
}


blockquote div div a {
  display: inline-block;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  margin-top: 0;

}

@screen sm {
  blockquote div div a {
    font-style: italic;
    @apply text-lg;
  }
}




form input {
  -webkit-appearance: none;
  height: 46px;
}

/* helpers */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 550px;

  /* reset a border */
  border: none;
}

.truncate:hover {
  /* reset a border */
  border: none;
}

.client a {
  /* reset a border */
  border: none;
}

.client a:hover {
  /* reset a border */
  border: none;
}

.gatsby-image-wrapper:not(.gatsby-image-small) {
  width: 100%;
  margin-left: 0;
}

@screen sm {
  .gatsby-image-wrapper:not(.gatsby-image-small) {
    width: 110%;
    margin-left: -5%;
  }
}


.mobile-menu {
  position: fixed;

  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 62px;
  z-index: 9999;
}

.mobile-menu__ul {
  display: flex !important;
  float: none !important;
}

.blog-post img {
  margin: 2rem 0;
}

.blog-post ul li {
  margin-bottom: 1rem;
}

.btn-light {
  background: #FCFBF8;
  width: 220px;
  max-width: 100%;

  @apply py-3 px-3 flex justify-between;
}

a.btn {
  width: 220px;
  max-width: 100%;

  @apply py-4 px-3 bg-yellow text-center text-black font-sans uppercase;
}

a.btn.btn-wide {
  width: 320px;
}


.hover-border-none:hover {
  border: none !important;
}

hr {
  height: 2px;
  background-color: #F7F7F7;
}

h3 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  @apply text-xl leading-normal font-sans;
}
